/*css/style.css */

.slider {
    margin: 50px auto;
    width: 100%;
}

.img-box img {
    width: 100%;
}
.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.btn {
    letter-spacing: 2.4px;
    border: none;
    outline: none;
    background: #eebebe;
    padding: 10px 30px;
    font-size: 16px;
    color: #111;
    cursor: pointer;
    margin: 10px auto;
	font-weight: 600;
}

.btn:hover {
    background: #ce8383;
}
.judul_vidio {
    text-align: center;
    font-size: 12px;

}
.video_box {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_boxx {
    padding: 1.3em 3em;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    font-weight: 600;
    color: #000;
    background-color: #dd84a6;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.video_boxx:hover {
    background-color: #c567b1;
    box-shadow: 0 15px 20px rgba(173, 55, 189, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.video_boxx {
    transform: translateY(-1px);
}
.audio-container {
    text-align: center;
}

.audio-button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.audio-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.audio-button:active {
    transform: translateY(0);
}